services:
  api:
    build: ./
    container_name: book-review-api
    ports:
      - "5000:5000"
      - "9229:9229"
    env_file:
      - ./.env
    depends_on:
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    profiles: ["debug"]
    command: npm run debug
  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
