services:
  api:
    build: ./
    container_name: book-review-api
    ports:
      - "5000:5000"
      - "9229:9229"
    env_file:
      - ./.env
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app
      - /app/node_modules

    # default "dev" profile (runs normally)
    profiles: ["dev"]

  api-debug:
    build: ./
    container_name: book-review-api-debug
    ports:
      - "5000:5000"
      - "9229:9229"
    env_file:
      - ./.env
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    profiles: ["debug"]
    command: npm run debug # only for debug mode

  redis:
    image: redis
    container_name: redis-books-api
    ports:
      - "6379:6379"

  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
